/* You can add global styles to this file, and also import other style files */

@import "bootstrap/dist/css/bootstrap.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.primary-blue {
  color: #00e5ff;
  background-color: #00e5ff;
}

.primary-dark {
  color: #263238;
  background-color: #263238;
}

.primary-accent {
  color: #83b9ff;
  background-color: #83b9ff;
}

.primary-blue-text {
  color: #00e5ff;
}

.primary-dark-text {
  color: #263238;
}

.primary-accent-text {
  color: #83b9ff;
}
