<div class="container-fluid p-5 h-100 ">
    <div class="border justify-content-center col d-flex flex-column p-5 h-100">
        <h2>Auditors</h2>

        <div class=" d-flex flex-column ">
            <table class="w-100" mat-table [dataSource]="dataSource">


                <!-- Name Column -->
                <ng-container matColumnDef="first_name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.first_name}} {{element.second_name}} </td>
                </ng-container>

                <!-- Name Column
                <ng-container matColumnDef="second_name">
                    <th mat-header-cell *matHeaderCellDef> Second Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.second_name}} </td>
                </ng-container> -->

                <!-- Weight Column -->
                <ng-container matColumnDef="phone_number">
                    <th mat-header-cell *matHeaderCellDef> Phone Number </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> E-mail Address </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="standards">
                    <th mat-header-cell *matHeaderCellDef> Standards </th>
                    <td mat-cell *matCellDef="let element"> {{element.standards}} </td>
                </ng-container>


                <!-- Symbol Column -->
                <ng-container matColumnDef="active_projects">
                    <th mat-header-cell style="text-align: center;" *matHeaderCellDef> Active Projects </th>
                    <td mat-cell style="text-align: center;" *matCellDef="let element"> {{element.projects.length}} </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr class="clickable-row" mat-row (click)="openDialog(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>

        </div>

        <div class="pt-3 ">
            <button mat-raised-button [routerLink]="'./create'" routerLinkActive="active" color="primary">CREATE AUDITOR</button>
        </div>
    </div>
</div>